
body {
  background-color: rgb(93, 23, 37);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(193, 198, 200);
  background-color: black;
  position: relative;
}

#walker {
  background-color: rgb(117, 110, 123);
  width: 50px;
  height: 50px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
